<!DOCTYPE html>
<html>
<head>
<title>Accounts Overview</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/*TWWO*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.accordion {
    background-color: #08088A;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
//    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	width:100%;
}

/*TWWO*/

.active, .accordion:hover {
    background-color: #848484; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #F2F2F2;
    overflow: hidden;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*TWWO*/

.header{
	width: 97%;
	height: 70px;
	background-color: #FAFAFA;
	padding: 0 1.5%; 
}
.logo{
	width180px;
	height:70px;
}
.title{
    font-family: "Arial Black", Gadget, sans-serif;
	color:#6E6E6E;
    padding: 0 20px;

}
.row{
height:auto;
width:100%;
flex: 1 0 auto;
}

.accordian-col-block{
    float: left;
    width: 50%;
    padding: 0 1% 0 2%;
	margin:5px;
	
}



 
 /*TWWO*/
</style>
</head>
<body>
<!--TWWO-->

<a href="http://www.yomabank.com" class="logo">
    <img class="img-responsive" src="/images/yoma_logo.png" alt="Yoma Bank">
</a>

<div class="container">
<div class = "form-group text-right">
<a href="/logout"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button></a>
</div>
<div class="title"><h3>Check Your Balance ></h3>
</div>
<!--TWWO-->
<div class="row">
	<div class="accordian-col-block">
		<button class="accordion">Saving Account</button>
		<div class="panel">
		  <p>Account No : 123456789012</p>
		  <p>Account Name : Phyu Win Han</p>
		  <p>Available Balance : 10,000 MMK</p>
		  <p>Ledger Balance : 10,000 MMK</p>
		  <p>Blocked Balance : 1,000 MMK</p>
		</div>
	</div>

	<div class="accordian-col-block">
		<button class="accordion">Smart Account</button>
		<div class="panel">
		  <p>Account No : 123456789013</p>
		  <p>Account Name : Phyu Win Han</p>
		  <p>Available Balance : 10,000 MMK</p>
		  <p>Ledger Balance : 10,000 MMK</p>
		  <p>Blocked Balance : 0 MMK</p>
		</div>
	</div>
	<div class="accordian-col-block">
		<button class="accordion">Call Account</button>
		<div class="panel">
		  <p>Account No : 123456789014</p>
		  <p>Account Name : Phyu Win Han</p>
		  <p>Available Balance : 100,000 MMK</p>
		  <p>Ledger Balance : 100,000 MMK</p>
		  <p>Blocked Balance : 0 MMK</p>
		</div>
	</div>
	<div class="accordian-col-block">
		<button class="accordion">Call Account</button>
		<div class="panel">
		  <p>Account No : 123456789014</p>
		  <p>Account Name : Phyu Win Han</p>
		  <p>Available Balance : 100,000 MMK</p>
		  <p>Ledger Balance : 100,000 MMK</p>
		  <p>Blocked Balance : 0 MMK</p>
		</div>
	</div>
</div>
</div>
</body>

<div style="clear:both" class="col-md-7 col-md-offset-4">
<footer class="main-footer" style="max-height: 100px;text-align: right">
        <strong>© 2018 Copyright <a href="http://www.yomabank.com" >Yoma Bank</a>.</strong> All rights reserved!
</footer>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

</html>
