
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#centerBorder {
    border-style: groove;
}
</style>
</head>

<a href="http://www.yomabank.com" class="logo">
    <img class="img-responsive" src="https://www.yomabank.com/images/logo-yoma.png" alt="Yoma Bank">
</a>

<div class="text-center">
  <h1 style="color:Red;">Welcome!</h1>
  <h4 style="color:Red;">Please login to check your account balance ...</h4>
</div>
<br>
<div class="container col-md-4 col-md-offset-4" id="centerBorder">

</br><br>
<form class="form-horizontal" action="/login" method="post">

        <div class="form-group">
            <label class="control-label col-sm-4" for="userName">User Name:</label>
            <div class="col-sm-6">
                <input class="form-control" id="userName" type="text" name="userName" placeholder="User Name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="password">Password:</label>
            <div class="col-sm-6">
                <input class="form-control" id="password" type="text" name="password" placeholder="Password">
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-sm-offset-4 col-sm-6">
              <button type="submit" class="btn btn-primary btn-md" formaction="/login">Login</button>
              <button type="reset" value = "reset" class="btn btn-default btn-md">Reset</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
        <a href=/reset><u>Forgot Password?</u></a><br>
            </div>
            <br><br>
        </div>
   
	
</form>

</div>
<div style="clear:both"
<% if (invalidUser) { %>
    <div class="form-group alert alert-danger text-center">
    <strong>Attention!</strong> Wrong Username or Password. Please Retry.
  </div>
<% }%>
</div>
<div style="clear:both" class="col-md-7 col-md-offset-4">
    </br></br>

<footer class="main-footer" style="max-height: 100px;text-align: right">
        <strong>© 2018 Copyright <a href="http://www.yomabank.com" >Yoma Bank</a>.</strong> All rights reserved!
</footer>
</div>
</html>