
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#centerBorder {
    border-style: groove;
}

h4 {
  color: Red;
}

</style>
</head>

<a href="http://www.yomabank.com" class="logo">
    <img class="img-responsive" src="https://www.yomabank.com/images/logo-yoma.png" alt="Yoma Bank">
</a>

<div class="text-center">
  <h3 style="color:Red;"><b>You Have Been Successfully Logged Out!</b></h3>
</div>
<br>
<div class="container col-md-4 col-md-offset-4" id="centerBorder">

</br></br>

    <div class="form-group text-center">
        <p>Thanks for being our customer!</p>
        </br> 

          <a href="/"><button type="submit" class="btn btn-default btn-lg"><b>Go Back To The Home Page</b></button></a>

        </br>
        <h4><b>Questions?</b></h4>
        <p>Please Call 09796629662</p>
    </div>
</br>

</div>
<div style="clear:both" class="col-md-7 col-md-offset-4">
    </br></br>

<footer class="main-footer" style="max-height: 100px;text-align: right">
        <strong>© 2018 Copyright <a href="http://www.yomabank.com" >Yoma Bank</a>.</strong> All rights reserved!
</footer>
</div>
</html>