
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
#centerBorder {
    border-style: groove;
}
</style>
</head>

<a href="http://www.yomabank.com" class="logo">
    <img class="img-responsive" src="https://www.yomabank.com/images/logo-yoma.png" alt="Yoma Bank">
</a>

<br><br><br><br><br>

<div class="container col-md-4 col-md-offset-4" id="centerBorder">
  <br>
  <button type="button" class="btn btn-default btn-sm">
    <a href="/"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
  </button>

</br><br>
<form class="form-horizontal" action="/password_reset" method="post">

        <div class="form-group text-center">
            <label class="control-label text-center" for="emailAddress" ><font color="red">Enter your Email to Reset Password:</font></label>
            <br><br>
            <div class="col-md-8 col-md-offset-2">
                <input class="form-control" id="emailAddress" type="text" name="emailAddress" placeholder="Email Address">
            </div>
            <br><br><br>
            <div class="col-md-12">
              <button type="submit" class="btn btn-lg" formaction="/reset_password"><span class="glyphicon glyphicon-envelope"></span> Send Password Reset Link</button>
            </div>
        </div>
            <br><br>

   
	
</form>

</div>
<div style="clear:both"
<% if (blank) { %>
    <div class="form-group alert alert-danger text-center">
    <strong>Attention!</strong> Email Address is blank. Please type your email address.
  </div>
<% }%>
</div>
<div style="clear:both" class="col-md-7 col-md-offset-4">
    </br></br></br>


<footer class="main-footer" style="max-height: 100px;text-align: right">
        <strong>© 2018 Copyright <a href="http://www.yomabank.com" >Yoma Bank</a>.</strong> All rights reserved!
</footer>
</div>
</html>